.edit-img {
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img_cover {
    width: 100%;
    position: relative;
}

.header_box {
    margin: 0 auto;
    width: 68%;
    margin-top: 50px;
}

.editPhoto {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 20px;
    border-radius: 5px;
}

.text_photo {
    padding: 5px;
}
.text_photo:hover{
    background-color: #d5d2d2;
    border-radius: 5px;
}
.text_live_stream{
    margin: 10px 0px;
}
.new_live_stream{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new_live_stream:hover{
    background-color: #d5d2d2;
    /* padding: 10px 20px 10px 20px; */
    border-radius: 5px;
}
.header_name {
    position: relative;
    top: -5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin: 0 20px;
    border-bottom: 1px solid rgb(225, 211, 211);
}

.infor {
    display: flex;
    align-items: flex-end;
}

.avt {
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;

}

.infor_avt {
    position: relative;
}

.icon {
    position: absolute;
    background-color: rgb(227, 231, 236);
    border-radius: 50%;
    right: 0;
    top: 70%;
}

.icon_camera {
    padding: 10px;
}

.infor_name {
    margin-left: 10px;
}

.name {
    font-size: 40px;
    font-weight: 650;
    color: black;
    font-family: inherit;
}

.friend {
    font-size: 17px;
    color: rgb(168, 167, 162);
}

.story>button {
    margin-bottom: 20px;
    margin: 0px 5px 20px 5px;
}

.story_text {
    margin: 0 5px;
}

.header_navbar {
    position: relative;
    top: -5%;
}

.focus_nav:focus {
    color: blue;
    border-bottom: 2px solid blue;
}

.dots {
    background-color: rgb(229, 219, 219);
    padding: 5px 20px;
    border-radius: 5px;
}

.dots:hover {
    background-color: rgba(196, 199, 199, 0.877);
}

.avt_listfriend {
    width: 35px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-right: -12px;
}

.box_container {
    margin: 0 auto;
}

.edit_introduce {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin: 8px 0px;
    font-size: 18px;
    color: black;
}

.box-container {
    margin-top: 20px;
    display: flex;
    width: 65%;
}

.container_introduce {
    border-radius: 15px;
    width: 32%;
}

.title {
    padding-top: 10px;
    padding-left: 5px;
}

.profile {
    margin: 10px 0;
    font-weight: 300;
}

div>i {
    margin-right: 5px;
}

.text_school {
    color: black;
    font-weight: 600;
}

.container_news_heading {
    border-radius: 15px;
    height: 130px;
    width: 100%;
}

.status {
    background-color: rgb(239, 239, 239);
    border: none;
    margin-left: 20px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    outline: none;
}

.news_heading {
    display: flex;
    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid rgb(192, 188, 188);
}

.new_function {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.news_icon1 {
    margin-right: 8px;
    color: red;
}

.news_icon2 {
    margin-right: 8px;
    color: green;
}

.news_icon3 {
    margin-right: 8px;
    color: blue;
}

.posts {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(239, 235, 235);
}

.container_posts {
    padding: 10px 15px 10px 15px;
}

.button_container_posts {
    padding: 10px 15px 10px 15px;
}

.button_posts_text {
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    outline: none;
}
.button_posts_text:hover{
    background-color: #d5d2d2;
}
.post_icon {
    margin-right: 10px;
}

.text_container_posts {
    display: flex;
    align-items: center;
}

.function_posts {
    display: flex;
    padding: 10px 0;
}

.button_fuction_posts {
    width: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_fuction_posts:focus {
    color: blue;
    outline: none;
}

.text_news {
    color: rgb(149, 145, 145);
    margin-top: 20px;
}

.img_posts_first {
    width: 100%;
}

.box_posts {
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title_left {
    display: flex;
    margin-left: 5px;
}

.title_left_img {
    margin-top: 5px;
}

.div_user_name {
    margin-left: 20px;
}

.user_name {
    margin-bottom: 0;
    font-weight: 500;
}

.date_posts {
    font-size: 13px;
    color: rgb(151, 139, 139);
}

.title_icon {
    margin: 10px 10px;
}

.div_cap {
    margin-left: 10px;
}

.footer_posts {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.icon_posts {
    display: flex;
    margin-left: 10px;
}

.icon_posts_like {
    color: blue;
    margin-top: 4px;
    font-size: 20px;
    margin-right: -5px;
    z-index: 2;
}

.icon_posts_heart {
    color: red;
    margin-top: 4px;
    font-size: 20px;
}

.icon_posts_smile {
    color: rgb(244, 195, 32);
    margin-top: 4px;
    font-size: 20px;
    margin-right: -5px;
    z-index: 1;
}

.count_comment {
    margin-right: 10px;
}

.user_status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(229, 215, 215);
    border-bottom: 1px solid rgb(229, 215, 215);
}

.icon_user_status {
    display: flex;
    align-items: center;
}

.comment_posts {
    display: flex;
    align-items: center;
}

.share_posts {
    display: flex;
    align-items: center;
}

.text_share_posts {
    margin-bottom: 0;
    font-size: 18px;
}

.select_posts {
    float: right;
    margin: 10px 10px;
}

.commentOfFriends {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}

.comment_friends {
    margin-left: 20px;
}

.box_comment {
    padding: 5px 10px;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
}

.feedback_comment {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    font-weight: 500;
    color: gray;
}

.box_comment>p {
    margin-bottom: 0;
}

.box_write {
    display: flex;

}

.feedback_comment>p {
    margin-bottom: 0;
}

/* navbar */
.container {
    width: 100%;
    display: block;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.tab-container {
    padding: 0 20px;
    border-radius: 8px;
    position: relative;
}

.tab {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tab:hover {
    background-color: #e9e9e9;
    transition: color 0.3s ease-in-out;
    border-radius: 4px;
}

.ul_SeeMore {
    list-style: none;
    background-color: #e9e9e9;
    padding-left: 0;
}

.li_SeeMore {
    margin-left: 0px;
    padding: 5px 5px 5px 15px;
    cursor: pointer;
}
.li_SeeMore:hover{
    background-color: white;
}
.blockSeeMore {
    position: absolute;
    display: none;
    top: 120%;
    right: 0%;
    z-index: 1;
}

.display {
    display: block;
}

.tab.active {
    color: #1e5ac8;
}

.div_navbar {
    height: 50px;
    overflow: visible;
}

/* grid image */
.img {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.box-image {
    width: 30%;
    margin: 5px 5px;
}

.text-image {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.icon-img {
    margin-top: 100px;
    margin-left: 5px;
    font-size: 18px;
}

.grid_image {
    margin-top: 20px;
}

.image_grid {
    object-fit: cover;
}

.group-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header_grid {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.seeAllPhotos {
    border: none;
    color: rgb(127, 127, 242);
}

.more {
    font-size: 10px;
}

/* reponsive */
@media (min-width: 820px) and (max-width:1180px) {
    .header {
        width: 100%;
    }

    .header_box {
        width: 100%;
    }

    .header_name {
        display: block;
        top: -13%;
    }

    .infor {
        display: block;
    }

    .infor_avt {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .icon {
        position: absolute;
        background-color: rgb(227, 231, 236);
        border-radius: 50%;
        top: 70%;
        right: 37%;
    }

    .name {
        font-size: 40px;
        font-weight: 650;
        color: black;
        font-family: inherit;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .friend {
        font-size: 17px;
        color: rgb(168, 167, 162);
        display: flex;
        justify-content: center;
    }

    .avt_friend {
        display: flex;
        justify-content: center;
    }

    .story {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .box-container {
        display: block;

    }

    .container_introduce {
        width: 100%;
    }
}

/* header navbar */
.header_menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
.navbar_search {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
}

.block_search {
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 30px;
}

.icon_search {
    margin-left: 10px;
}

.input_search {
    border: none;
    outline: none;
    padding-right: 5px;
}

.list_icon {
    display: flex;
    align-items: center;
}

.icon_navbar_center {
    /* margin: 0 20px; */
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
}
.icon_navbar_center:hover{
    background-color: #e9e9e9;
}
.icon_navbar_right{
    font-size: 20px;
    margin-right: 7px;
    padding: 10px 13px;
    border-radius: 50%;
    background-color: #e9e9e9;
}
.icon_navbar_right:hover{
    background-color: #d0cccc;
}

/* menu reponsive */
.menu_reponsive{
    position: relative;
    top: 50px;
 }
 .menu_reponsive_item{
     display: flex;
     width: 100%;
     align-items: center;
     padding-left: 20px;
     height: 50px;
     border-radius: 10px;
 }
 .text_item{
     margin-left: 20px;
     font-weight: 400;
     font-size: 15px;
 }
 .menu_reponsive_item:hover{
    background-color: #d0cccc;
    border-radius: 5px;
 }
 .p_text{
    padding-left: 20px;
    color: #646262;
 }
 .avt_menu {
    width: 35px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-right: -12px;
    margin-right: 10px;
}
.avt_item_menu {
    width: 35px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    margin-right: -12px;
}