body {
    background-color: #303841;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
h1 {
    color: #be3144;
}
.holder {
    border: 1px solid #45567d;
    width:60%;
    min-height: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote {
    color: #fff;
    padding: 10px;
}
#next {
    padding: 10px 30px;
    background-color: #be3144;
    color: #fff;
    border:none;
    border-radius: 10px;
    font-size: 15px;
}
#next:hover {
    cursor: pointer;
}